/* #about {
  flex: 1 0 auto;
  position: relative;
  background-color: #d4d1c9;
  width: 100%;
  height: 80vh;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
} */
