.footer_follow_icon {
  top: 50%;
  right: 20px;
  width: 20px;
  height: 200px;
  position: fixed;
  margin-top: -100px;
}

.footer_follow_icon ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_follow_icon svg {
  width: 1.3em;
  height: 1.3em;
  fill: #d4c8c9;
}

.footer_follow_icon ul li {
  display: block;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.footer_follow_icon p:after {
  top: 9px;
  right: -48px;
  width: 40px;
  height: 1px;
  content: "";
  display: block;
  position: absolute;
  background-color: var(--text-color);
}
