/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
}

.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #8d8d8d;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 30px;
  width: 30px;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 2.5em 0;
  font-size: 0.9em;
  text-transform: uppercase;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #8d8d8d;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em 0;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #8d8d8d;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #000000;
}

/* Styling of overlay */
.bm-overlay {
  background: none !important;
}

.navbar-expand {
  justify-content: space-between;
}

.nav {
  /* background-color: white; */
  /* position: fixed; */
  z-index: 100 !important;

  padding-left: 2em;
  padding-right: 2em;
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: none !important;
}

.navbar {
  --bs-navbar-toggler-border-color: none !important;
}
.fixed-top {
  position: fixed;
}

/*Logo*/
#ip {
  font-weight: 400;
  letter-spacing: 0.2rem;
}
