:root {
  --bg-color: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #000;
  --text-color: #000;
  --text-color-2: #000;
  --overlay-color: rgb(255 255 255 / 70%);
}

[data-theme="dark"] {
  --bg-color: #0c0c0c;
  --primary-color: #0d0d0d;
  --secondary-color: #fff;
  --text-color: #fff;
  --text-color-2: #fff;
  --overlay-color: rgb(12 12 12 / 63%);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

html,
body {
  height: 100%;
}
body {
  margin: 30px;
  font-family: "Montserrat", "Roboto", sans-serif;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-bottom: 60px; */
  /* border-left: 10px solid var(--primary-color);
  border-right: 10px solid var(--primary-color); */
}

/*section*/

.home {
  flex: 1 0 auto;
  position: relative;
  background-color: #d4c9c9;
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.contact {
  background-color: #d4c9c9;
}

/*portfolio*/
.tab {
  /* width: 400px;
  height: 250px; */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: -webkit-transform 1s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0, 0, 0.2, 1),
    -webkit-transform 1s cubic-bezier(0, 0, 0.2, 1);
}

.tab-list {
  height: 50px;
  max-width: 1200px;
  display: flex;
  list-style: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.tabs {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.active-tabs {
  background: black;
  color: white;
  transition: 0.5s ease-in;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 4px;
}

.tab_content {
  display: none;
  height: auto;
}

.active-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 1rem;
  max-width: 1200px;
  padding-top: 20px;
  transition: 0.3s ease-in;
}

img {
  max-width: 100%;
}
/* Screen larger than 600px? 2 column*/
@media (min-width: 600px) {
  /* .active-content {
    grid-template-columns: repeat(1, 1fr);
  } */
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .active-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*others*/
.all {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}

.title_section {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.center_div {
  margin-top: 5rem;
}
.ip_center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.ip_center .center_inner {
  width: 100%;
  height: auto;
  clear: both;
}

.ip_section {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0 40px;
  position: relative;
  clear: both;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

section {
  display: block;
}
@media screen and (max-width: 992px) {
  .section {
    padding: 60px 0;
  }
}

.ip_about {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 100px 0;
}
@media screen and (max-width: 992px) {
  .ip_about {
    padding: 60px 0;
  }
}
.ip_about .about_inner {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
}
.ip_about .left {
  width: 40%;
  padding-right: 50px;
}
.ip_about .left .image {
  position: relative;
}
.ip_about .left .image img {
  min-width: 100%;
  opacity: 0;
}
.ip_about .left .main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .ip_about .left .main {
    box-shadow: none;
  }
}

/*experience section*/
.ip_about .experience span {
  display: block;
}
.ip_about .experience .year {
  font-size: 80px;
  font-weight: 800;
  font-family: "Montserrat";
  color: #fff;
  margin-bottom: 3px;
  line-height: 1;
  font-style: italic;
}
.ip_about .experience .text {
  color: #fff;
  font-style: italic;
  font-family: "Montserrat";
  opacity: 0.7;
}
.ip_about .right {
  width: 60%;
  padding-left: 50px;
}

.ip_about .center {
  width: 100%;
  padding-left: auto;
  padding-right: auto;
}
.ip_about .center .text {
  margin-bottom: 40px;
  padding-top: 27px;
}
.ip_about .right .text {
  margin-bottom: 40px;
  padding-top: 27px;
}

.ip_button a {
  text-decoration: none;
  position: absolute;
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 13px 48px;
  border: 1px solid #000;
  font-family: "Montserrat";
  transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);
  cursor: pointer !important;
}
@media screen and (max-width: 992px) {
  .ip_button a {
    padding: 8px 25px;
  }
}
.ip_button a:hover {
  color: #000;
  background-color: transparent;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

@media (max-width: 1040px) {
  .ip_about .about_inner {
    flex-direction: column;
  }
  .ip_about .left {
    padding-right: 0;
    width: 100%;
    margin-bottom: 50px;
  }
  .ip_about .right {
    padding-left: 0;
    width: 100%;
  }
  .ip_about .center {
    padding-left: 0;
    width: 100%;
  }
}

.img {
  min-height: 100%;
  min-width: 100%;
  height: 300px;
  padding: 10px 10px 10px 10px;
  object-fit: cover;
  vertical-align: middle;
  transition: -webkit-transform 1s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0, 0, 0.2, 1),
    -webkit-transform 1s cubic-bezier(0, 0, 0.2, 1);
}

.portfolio {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 100px 0;

  /* background-color: #ced4c9; */
}
.portfolio_list {
  width: 100;
  height: auto;
  clear: both;
  float: left;
  padding-top: 89px;
}

.content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

ul {
  list-style: none;
}

h1 {
  padding-bottom: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  animation: slideHeadline 1s ease 0s 1 normal forwards;
  word-wrap: normal;
}

h1 .headline {
  padding-bottom: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  animation: headline 1s ease 0s 1 normal forwards;
  word-wrap: normal;
}
.subline {
  font-weight: 300;
  text-align: center;
  animation: subline 1s ease 0s 1 normal forwards;
  word-wrap: normal;
}

.marker-white {
  display: inline;
  background-color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
}
h3 {
  font-weight: 300;

  letter-spacing: 0.2rem;

  text-transform: uppercase;
}
h4 {
  font-weight: 300;
  letter-spacing: 0.1rem;

  text-transform: uppercase;
}
h5,
h6 {
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: darkgrey;
}

a,
a:hover {
  color: var(--text-color);
}

p {
  font-size: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 300;
  /* line-height: 1.5rem; */
  word-break: break-word;
  hyphens: auto;
}
.portfolio-div {
  align-content: center;
  justify-self: center;
}

.imgheadline {
  font-size: 0.8em;
  margin-top: 0.5rem;

  font-weight: 600 !important;
}
.imgtext {
  font-size: 0.8em;
}

span.title {
  /* --vh: 9.02px; */
  line-height: 30px;
  word-wrap: break-word;
  background: transparent;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  outline: none;
  box-sizing: border-box;
  display: inline-block;
  border-left: #000 solid 1px;

  /* background-color: rgba(212, 200, 201, 0.7); */
  text-transform: uppercase;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 12px;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}

.ovhidden {
  overflow: hidden;
}

.text_2,
.text_2:hover {
  color: var(--text-color-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*scrollbutton up*/

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.arrow-div {
  padding-top: 3rem;
}
.one {
  margin-top: 1px;
}

.one,
.two,
.three {
  -webkit-animation: m-scroll 4s infinite;
  -moz-animation: m-scroll 4s infinite;
  animation: m-scroll 4s infinite;
}

.one {
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;

  animation-delay: -1s;
}

.two {
  -webkit-animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;

  animation-delay: -0.5s;

  margin-top: -6px;
}

.three {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;

  animation-delay: 0s;

  margin-top: -6px;
}

@-webkit-keyframes m-scroll {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes m-scroll {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes m-scroll {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes m-scroll {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*card timeline*/

.cards {
  border: none !important;
  margin: 1rem;
}

.card-date {
  border-left: #d4c8c9 solid 1px;
  padding-left: 20px;
  margin-left: 20px;
}
.card-text {
  font-size: 0.8rem;
}

/*arrow*/

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #000000;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 4s infinite;
  -webkit-animation: arrow 4s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

/*progressbar*/
/* .progress {
  height: 1px;
  background: #d4c8c9;
  border-radius: 4;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}

.progress .progress-bar {
  position: relative;
  background: black;
  animation: animate-positive 2s;
  overflow: visible;
  opacity: 0.9;
}

.progress .progress-value {
  position: absolute;
  top: -30px;
  right: 8px;
  font-size: 17px;
  color: black;
}

.progress-value-text {
  position: absolute;
  animation: animate-positive 2s;

  font-size: 13px;
  font-style: italic;
  color: black;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}

@keyframes animate-positive {
  0% {
    width: 0%;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
} */
